<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.web>
		<compilation debug="true" />
	</system.web>
	
	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding crossDomainScriptAccessEnabled="true" />
			</webHttpBinding>
		</bindings>

		<services>
			<service name="SyndicationServiceLibrary.Feed" behaviorConfiguration="SyndicationServiceLibrary.serviceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8734/SyndicationService/" />
					</baseAddresses>
				</host>
				<endpoint contract="SyndicationServiceLibrary.IFeed"
						  address="Feed"
						  binding="webHttpBinding"
						  behaviorConfiguration="SyndicationServiceLibrary.endpointBehavior"/>

				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>

		<behaviors>
			<endpointBehaviors>
				<behavior name="SyndicationServiceLibrary.endpointBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="SyndicationServiceLibrary.serviceBehavior">
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>