body {
    background-color:azure;
}

.footer {
    position: relative;
    padding: 40px 0;
}

.footer .social {
    text-align: center;
    color: #4b4c4d;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #aaa;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    padding-top: 6px;
    border-radius: 50%;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 0.9;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}