<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
	</system.web>

	<system.serviceModel>
		<services>
			<service name="lab5.WCFSiplex">
				<!-- SOAP Endpoint -->
				<endpoint address="http://localhost:8733/Design_Time_Addresses/lab5/WCFSiplex/soap"
					  binding="basicHttpBinding"
					  name="httpEndpoint"
					  contract="lab5.IWCFSiplex">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>

				<!-- Net.TCP Endpoint -->
				<endpoint address="net.tcp://localhost:8734/Design_Time_Addresses/lab5/WCFSiplex/nettcp"
					  binding="netTcpBinding"
					  name="tcpEndpoint"
					  contract="lab5.IWCFSiplex" />

				<!-- REST Endpoint для тестирования в браузере-->
				<endpoint address="http://localhost:8733/Design_Time_Addresses/lab5/WCFSiplex/rest"
					  binding="webHttpBinding"
					  name="webEndpoint"
					  contract="lab5.IWCFSiplex"
					  behaviorConfiguration="webBehavior" />

				<!-- MEX Endpoint для тестировщику который (клиетт отправляет, чтоб получить wsdl)-->
				<endpoint address="http://localhost:8733/Design_Time_Addresses/lab5/WCFSiplex/mex"
					  binding="mexHttpBinding"
					  contract="IMetadataExchange" />

				<host>
					<baseAddresses>
						<!--comment this to test using clients-->
						<!--<add baseAddress="Http://localhost:8733/Design_Time_Addresses/lab5/WCFSiplex/"/>--> 
					</baseAddresses>
				</host>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Включение метаданных -->
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<!-- Управление отображением исключений -->
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>

			<endpointBehaviors>
				<behavior name="webBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>

		<bindings>
			<webHttpBinding>
				<binding name="webHttpBindingConfig">
					<!-- Дополнительные настройки биндинга при необходимости -->
				</binding>
			</webHttpBinding>
		</bindings>

		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

</configuration>
