@media (min-width: 280px) and (max-width: 320px) {
    .main_g {
      width: 100%;
      min-height: 350px;
    }
  
    .st1j2 {
      background: none;
      min-height: 0;
    }
  
    .st1j1 {
      min-height: 0;
      background: none;
    }
  
    .navbar {
      width: 100%;
    }
  
    .navbar a {
      padding: 10px 13px;
      font-size: 15px;
    }
  
    .header {
      width: 90%;
    }
  
    .onphoto {
      top: 70px;
      left: 0;
      position: absolute;
      width: 50%;
      height: 200px;
      background: rgba(0, 0, 0, 0.45);
      z-index: 2;
    }
  
    .des_m {
      display: block;
      padding: 30px 0 0 4px;
      font-size: 16px;
      color: white;
    }
  
    #main_photo {
      position: relative;
      top: 10px;
      left: 0.1px;
      width: 100%;
      height: 200px;
      z-index: 1;
    }
  
    .work {
      width: 70%;
      height: 50px;
      margin-top: 10%;
      margin-left: 15%;
      margin-bottom: 40px;
    }
  
    .work_text {
      font-size: 10px;
    }
  
    .master_works {
      width: 100%;
      height: 50px;
    }
  
    .master_text {
      font-size: 20px;
      padding-top: 5%;
    }
  
    .st3 {
      height: 0;
      background: none;
    }
    
    .st4 {
      height: 0;
      background: none;
    }
  
    .gallery {
      width: 100%;
      height: 450px;
    }
  
    #f1 {
      margin-left: 5%;
      width: 25%;
      height: 100px;
    }
  
    .head {
      margin-top: 10px;
      margin-left: 30px;
      font-size: 15px;
      font-weight: 800;
    }
  
    .block_best {
      width: 100%;
      min-height: 470px;
    }
  
    .text_best {
      padding-top: 1%;
      font-size: 13px;
      padding-left: 5%;
    }
  
    .text_h1, .text_h2, .text_h3 {
      padding-top: 5px;
      line-height: 25px;
      padding-left: 5%;
      font-size: 10px;
    }
  
    .text_p1, .text_p2, .text_p3 {
      width: 30%;
      font-size: 8px;
      line-height: 12px;
      padding-left: 5%;
    }
  
    #first_photo {
      padding-top: 100px;
      padding-left: 115px;
      height: 100px;
      width: 25%;
    }
  
    #third_photo {
      padding-top: 215px;
      padding-left: 115px;
      height: 100px;
      width: 25%;
    }
  
    #second_photo {
      padding-top: 120px;
      padding-left: 200px;
      height: 100px;
      width: 25%;
    }
  
    #fourth_photo {
      padding-top: 235px;
      padding-left: 200px;
      height: 100px;
      width: 25%;
    }
  
    .st3_3 {
      height: 0;
      background: none;
    }
  
    .our_home {
      width: 100%;
      height: 550px;
    }
  
    .home_photo {
      width: 100%;
      height: 450px;
    }
  
    .text_about_home {
      padding-top: 12px;
      padding-left: 15px;
      font-size: 20px;
      width: 40%;
    }
  
    #hom1_photo, #hom2_photo, #hom3_photo {
      width: 40%;
      height: 30%;
      border: 3px solid #000000;
    }
  
    #hom1_photo {
      margin-left: 55%;
    }
  
    #hom2_photo {
      margin-left: 30%;
      margin-top: 47%;
    }
  
    #hom3_photo {
      margin-left: 15%;
      margin-top: 90%;
    }
  
    .biggest_works {
      width: 100%;
      height: 50px;
    }
  
    .biggest_text {
      left: 24%;
      top: -65%;
      font-size: 17px;
    }
  
    #bg_photo1, #bg_photo2, #bg_photo3 {
      width: 30%;
      height: 12%;
      border: 3px solid #000000;
    }
  
    #bg_photo1 {
      margin-top: 6%;
      margin-left: 8%;
    }
  
    #bg_photo2 {
      margin-top: 25%;
      margin-left: 25%;
    }
  
    #bg_photo3 {
      margin-top: 9%;
      margin-left: 48%;
    }
  
    #bg_photo4 {
      width: 35%;
      height: 10%;
      margin-top: 30%;
      border: 3px solid #000000;
    }
  
    .more_home_bu {
      width: 60%;
      margin-top: 57%;
      line-height: 20px;
      font-size: 20px;
    }
  
    #photo_bu1, #photo_bu2, #photo_bu3 {
      margin-top: 75%;
      height: 12%;
      width: 28%;
      border: 3px solid #000000;
    }
  
    #photo_bu1 {
      margin-left: 4%;
    }
  
    #photo_bu2 {
      margin-left: 35%;
    }
  
    #photo_bu3 {
      margin-left: 67%;
    }
  
    .soc_media {
      margin-top: 90%;
      width: 100%;
      min-height: 65px;
    }
  
    .st3_last {
      height: 0;
      background: none;
    }
    
    .st4_last {
      height: 0;
      background: none;
    }
  
    .our_media {
      font-size: 15px;
      left: 35%;
    }
  
    .here_you_are {
      left: 22%;
      font-size: 13px;
    }
  
    .inst, .vk, .tg {
      width: 6%;
      height: 30%;
    }
  
    .inst {
      left: 32%;
    }
  
    #inst {
      margin-top: 25%;
    }
  
    .tg {
      left: 49%;
    }
  
    #tg {
      margin-top: 15%;
    }
  
    .vk {
      left: 65%;
    }
  
    #vk {
      margin-top: 15%;
    }
  }
  
  @media (min-width: 301px) and (max-width: 336px) {
    .main_g {
      width: 100%;
      min-height: 350px;
    }
  
    .st1j2 {
      background: none;
      min-height: 0;
    }
  
    .st1j1 {
      min-height: 0;
      background: none;
    }
  
    .st3 {
      height: 0;
      background: none;
    }
    
    .st4 {
      height: 0;
      background: none;
    }
  
    .st3_3 {
      height: 0;
      background: none;
    }
  
    .st3_last {
      height: 0;
      background: none;
    }
    
    .st4_last {
      height: 0;
      background: none;
    }
  
    .navbar {
      width: 100%;
    }
  
    .navbar a {
      padding: 10px 13px;
      font-size: 15px;
    }
  
    .header {
      width: 90%;
    }
  
    .des_m {
      display: block;
      padding: 20px 0 0 4px;
      font-size: 16px;
      color: white;
    }
  
    .work {
      width: 70%;
      height: 50px;
      margin-top: 10%;
      margin-left: 15%;
      margin-bottom: 40px;
      /* font-size: 10px; */
    }
  
    .work_text {
      font-size: 10px;
    }
  
    #main_photo {
      position: relative;
      top: 10px;
      left: 0.1px;
      width: 100%;
      height: 200px;
      z-index: 1;
    }
  
    .onphoto {
      top: 70px;
      left: 0;
      position: absolute;
      width: 50%;
      height: 200px;
      background: rgba(0, 0, 0, 0.45);
      z-index: 2;
    }
  
    .master_works {
      width: 100%;
      height: 50px;
    }
  
    .master_text {
      font-size: 20px;
      padding-top: 5%;
    }
  
    .gallery {
      width: 100%;
      height: 450px;
    }
  
    #f1 {
      margin-left: 5%;
      width: 25%;
      height: 100px;
    }
  
    .head {
      margin-top: 10px;
      margin-left: 30px;
      font-size: 15px;
      font-weight: 800;
    }
  
    .block_best {
      width: 100%;
      min-height: 500px;
    }
  
    .text_best {
      padding-top: 1%;
      font-size: 18px;
      padding-left: 5%;
    }
  
    .text_h1, .text_h2, .text_h3 {
      padding-top: 5px;
      line-height: 25px;
      padding-left: 5%;
      font-size: 18px;
    }
  
    .text_p1, .text_p2, .text_p3 {
      width: 35%;
      font-size: 11px;
      line-height: 12px;
      padding-left: 5%;
    }
  
    #first_photo {
      padding-top: 100px;
      padding-left: 130px;
      height: 100px;
      width: 25%;
    }
  
    #third_photo {
      padding-top: 215px;
      padding-left: 130px;
      height: 100px;
      width: 25%;
    }
  
    #second_photo {
      padding-top: 120px;
      padding-left: 220px;
      height: 100px;
      width: 25%;
    }
  
    #fourth_photo {
      padding-top: 235px;
      padding-left: 220px;
      height: 100px;
      width: 25%;
    }
  
    .our_home {
      width: 100%;
      height: 550px;
    }
  
    .home_photo {
      width: 100%;
      height: 450px;
    }
  
    .text_about_home {
      padding-top: 12px;
      padding-left: 15px;
      font-size: 20px;
      width: 40%;
    }
  
    #hom1_photo, #hom2_photo, #hom3_photo {
      width: 40%;
      height: 30%;
      border: 3px solid #000000;
    }
  
    #hom1_photo {
      margin-left: 55%;
    }
  
    #hom2_photo {
      margin-left: 30%;
      margin-top: 37%;
    }
  
    #hom3_photo {
      margin-left: 15%;
      margin-top: 72%;
    }
  
    .biggest_works {
      width: 100%;
      height: 50px;
    }
  
    .biggest_text {
      left: 24%;
      top: -65%;
      font-size: 17px;
    }
  
    #bg_photo1, #bg_photo2, #bg_photo3 {
      width: 30%;
      height: 12%;
      border: 3px solid #000000;
    }
  
    #bg_photo1 {
      margin-top: 6%;
      margin-left: 8%;
    }
  
    #bg_photo2 {
      margin-top: 20%;
      margin-left: 25%;
    }
  
    #bg_photo3 {
      margin-top: 9%;
      margin-left: 48%;
    }
  
    #bg_photo4 {
      width: 35%;
      height: 15%;
      margin-top: 25%;
      border: 3px solid #000000;
    }
  
    .more_home_bu {
      width: 60%;
      margin-top: 57%;
      line-height: 20px;
      font-size: 20px;
    }
  
    #photo_bu1, #photo_bu2, #photo_bu3 {
      margin-top: 75%;
      height: 15%;
      width: 28%;
      border: 3px solid #000000;
    }
  
    #photo_bu1 {
      margin-left: 4%;
    }
  
    #photo_bu2 {
      margin-left: 35%;
    }
  
    #photo_bu3 {
      margin-left: 67%;
    }
  
    .soc_media {
      margin-top: 90%;
      width: 100%;
      min-height: 65px;
    }
  
    .our_media {
      font-size: 15px;
      left: 38%;
    }
  
    .here_you_are {
      left: 28%;
      font-size: 13px;
    }
  
    .inst, .vk, .tg {
      width: 6%;
      height: 30%;
    }
  
    .inst {
      left: 32%;
    }
  
    #inst {
      margin-top: 25%;
    }
  
    .tg {
      left: 49%;
    }
  
    #tg {
      margin-top: 15%;
    }
  
    .vk {
      left: 65%;
    }
  
    #vk {
      margin-top: 15%;
    }
  }
  
  @media (min-width: 336px) and (max-width: 360px) {
    .main_g {
      width: 100%;
      min-height: 350px;
    }
  
    .st1j2 {
      background: none;
      min-height: 0;
    }
  
    .st1j1 {
      min-height: 0;
      background: none;
    }
  
    .st3 {
      height: 0;
      background: none;
    }
    
    .st4 {
      height: 0;
      background: none;
    }
  
    .st3_3 {
      height: 0;
      background: none;
    }
  
    .st3_last {
      height: 0;
      background: none;
    }
    
    .st4_last {
      height: 0;
      background: none;
    }
  
    .navbar {
      width: 100%;
    }
  
    .navbar a {
      padding: 10px 13px;
      font-size: 15px;
    }
  
    .header {
      width: 90%;
    }
  
    .des_m {
      display: block;
      padding: 20px 0 0 4px;
      font-size: 16px;
      color: white;
    }
  
    .work {
      width: 70%;
      height: 52px;
      margin-top: 10%;
      margin-left: 15%;
      margin-bottom: 40px;
    }
  
    .work_text {
      font-size: 9px;
    }
  
    #main_photo {
      position: relative;
      top: 10px;
      left: 0.1px;
      width: 100%;
      height: 200px;
      z-index: 1;
    }
  
    .onphoto {
      top: 71px;
      left: 0;
      position: absolute;
      width: 50%;
      height: 200px;
      background: rgba(0, 0, 0, 0.45);
      z-index: 2;
    }
  
    .master_works {
      width: 100%;
      height: 50px;
    }
  
    .master_text {
      font-size: 20px;
      padding-top: 5%;
    }
  
    .gallery {
      width: 100%;
      height: 450px;
    }
  
    #f1 {
      margin-left: 5%;
      width: 25%;
      height: 100px;
    }
  
    .head {
      margin-top: 10px;
      margin-left: 30px;
      font-size: 15px;
      font-weight: 800;
    }
  
    .block_best {
      margin-top: 50px;
      width: 100%;
      min-height: 570px;
    }
  
    .text_best {
      padding-top: 1%;
      font-size: 20px;
      padding-left: 5%;
    }
  
    .text_h1 {
      padding-top: 1px;
      line-height: 25px;
      padding-left: 5%;
      font-size: 18px;
    }
  
    .text_h2, .text_h3 {
      padding-top: 15px;
      line-height: 25px;
      padding-left: 5%;
      font-size: 18px;
    }
  
    .text_p1, .text_p2, .text_p3 {
      width: 35%;
      font-size: 12px;
      line-height: 14px;
      padding-left: 5%;
    }
  
    #first_photo {
      padding-top: 100px;
      padding-left: 145px;
      height: 100px;
      width: 25%;
    }
  
    #third_photo {
      padding-top: 215px;
      padding-left: 145px;
      height: 100px;
      width: 25%;
    }
  
    #second_photo {
      padding-top: 120px;
      padding-left: 250px;
      height: 100px;
      width: 25%;
    }
  
    #fourth_photo {
      padding-top: 235px;
      padding-left: 250px;
      height: 100px;
      width: 25%;
    }
  
    .our_home {
      width: 100%;
      height: 550px;
    }
  
    .home_photo {
      width: 100%;
      height: 450px;
    }
  
    .text_about_home {
      padding-top: 12px;
      padding-left: 15px;
      font-size: 20px;
      width: 40%;
    }
  
    #hom1_photo, #hom2_photo, #hom3_photo {
      width: 40%;
      height: 30%;
      border: 3px solid #000000;
    }
  
    #hom1_photo {
      margin-left: 55%;
    }
  
    #hom2_photo {
      margin-left: 30%;
      margin-top: 37%;
    }
  
    #hom3_photo {
      margin-left: 15%;
      margin-top: 72%;
    }
  
    .biggest_works {
      width: 100%;
      height: 50px;
    }
  
    .biggest_text {
      left: 24%;
      top: -50%;
      font-size: 17px;
    }
  
    #bg_photo1, #bg_photo2, #bg_photo3 {
      width: 30%;
      height: 12%;
      border: 3px solid #000000;
    }
  
    #bg_photo1 {
      margin-top: 6%;
      margin-left: 8%;
    }
  
    #bg_photo2 {
      margin-top: 20%;
      margin-left: 25%;
    }
  
    #bg_photo3 {
      margin-top: 9%;
      margin-left: 48%;
    }
  
    #bg_photo4 {
      width: 35%;
      height: 15%;
      margin-top: 25%;
      border: 3px solid #000000;
    }
  
    .more_home_bu {
      width: 60%;
      margin-top: 57%;
      line-height: 20px;
      font-size: 20px;
    }
  
    #photo_bu1, #photo_bu2, #photo_bu3 {
      margin-top: 75%;
      height: 15%;
      width: 28%;
      border: 3px solid #000000;
    }
  
    #photo_bu1 {
      margin-left: 4%;
    }
  
    #photo_bu2 {
      margin-left: 35%;
    }
  
    #photo_bu3 {
      margin-left: 67%;
    }
  
    .soc_media {
      margin-top: 90%;
      width: 100%;
      min-height: 65px;
    }
  
    .our_media {
      font-size: 15px;
      left: 38%;
    }
  
    .here_you_are {
      left: 28%;
      font-size: 13px;
    }
  
    .inst, .vk, .tg {
      width: 6%;
      height: 30%;
    }
  
    .inst {
      left: 32%;
    }
  
    #inst {
      margin-top: 20%;
    }
  
    .tg {
      left: 49%;
    }
  
    #tg {
      margin-top: 15%;
    }
  
    .vk {
      left: 65%;
    }
  
    #vk {
      margin-top: 15%;
    }
  }
  
  
  @media (min-width: 361px) and (max-width: 382px) {
    .main_g {
      width: 100%;
      min-height: 350px;
    }
  
    .st1j2 {
      background: none;
      min-height: 0;
    }
  
    .st1j1 {
      min-height: 0;
      background: none;
    }
  
    .st3 {
      height: 0;
      background: none;
    }
    
    .st4 {
      height: 0;
      background: none;
    }
  
    .st3_3 {
      height: 0;
      background: none;
    }
  
    .st3_last {
      height: 0;
      background: none;
    }
    
    .st4_last {
      height: 0;
      background: none;
    }
  
    .navbar {
      width: 100%;
    }
  
    .navbar a {
      padding: 10px 13px;
      font-size: 15px;
    }
  
    .header {
      width: 90%;
    }
  
    .des_m {
      display: block;
      padding: 20px 0 0 4px;
      font-size: 16px;
      color: white;
    }
  
    .work {
      width: 70%;
      height: 40px;
      margin-top: 10%;
      margin-left: 15%;
      margin-bottom: 40px;
      font-size: 10px;
    }
  
    .work_text {
      font-size: 10px;
    }
  
    #main_photo {
      position: relative;
      top: 10px;
      left: 0.1px;
      width: 100%;
      height: 200px;
      z-index: 1;
    }
  
    .onphoto {
      top: 71px;
      left: 0;
      position: absolute;
      width: 50%;
      height: 200px;
      background: rgba(0, 0, 0, 0.45);
      z-index: 2;
    }
  
    .master_works {
      width: 100%;
      height: 50px;
    }
  
    .master_text {
      font-size: 20px;
      padding-top: 5%;
    }
  
    .gallery {
      width: 100%;
      height: 450px;
    }
  
    #f1 {
      margin-left: 5%;
      width: 25%;
      height: 100px;
    }
  
    .head {
      margin-top: 10px;
      margin-left: 70px;
      font-size: 15px;
      font-weight: 800;
    }
  
    .block_best {
      margin-top: 25px;
      width: 100%;
      min-height: 470px;
    }
  
    .text_best {
      padding-top: 1%;
      font-size: 30px;
      padding-left: 5%;
    }
  
    .text_h1, .text_h2, .text_h3 {
      padding-top: 5px;
      line-height: 25px;
      padding-left: 5%;
      font-size: 20px;
    }
  
    .text_p1, .text_p2, .text_p3 {
      width: 40%;
      font-size: 12px;
      line-height: 12px;
      padding-left: 5%;
    }
  
    #first_photo {
      padding-top: 105px;
      padding-left: 165px;
      height: 100px;
      width: 25%;
    }
  
    #third_photo {
      padding-top: 220px;
      padding-left: 165px;
      height: 100px;
      width: 25%;
    }
  
    #second_photo {
      padding-top: 125px;
      padding-left: 270px;
      height: 100px;
      width: 25%;
    }
  
    #fourth_photo {
      padding-top: 240px;
      padding-left: 270px;
      height: 100px;
      width: 25%;
    }
  
    .our_home {
      width: 100%;
      height: 550px;
    }
  
    .home_photo {
      width: 100%;
      height: 450px;
    }
  
    .text_about_home {
      padding-top: 12px;
      padding-left: 15px;
      font-size: 20px;
      width: 40%;
    }
  
    #hom1_photo, #hom2_photo, #hom3_photo {
      width: 40%;
      height: 30%;
      border: 3px solid #000000;
    }
  
    #hom1_photo {
      margin-left: 55%;
    }
  
    #hom2_photo {
      margin-left: 30%;
      margin-top: 35%;
    }
  
    #hom3_photo {
      margin-left: 15%;
      margin-top: 65%;
    }
  
    .biggest_works {
      width: 100%;
      height: 50px;
    }
  
    .biggest_text {
      left: 27%;
      top: -65%;
      font-size: 17px;
    }
  
    #bg_photo1, #bg_photo2, #bg_photo3 {
      width: 30%;
      height: 16%;
      border: 3px solid #000000;
    }
  
    #bg_photo1 {
      margin-top: 6%;
      margin-left: 8%;
    }
  
    #bg_photo2 {
      margin-top: 25%;
      margin-left: 25%;
    }
  
    #bg_photo3 {
      margin-top: 9%;
      margin-left: 48%;
    }
  
    #bg_photo4 {
      width: 35%;
      height: 17%;
      margin-top: 30%;
      border: 3px solid #000000;
    }
  
    .more_home_bu {
      width: 60%;
      margin-top: 57%;
      line-height: 20px;
      font-size: 20px;
    }
  
    #photo_bu1, #photo_bu2, #photo_bu3 {
      margin-top: 75%;
      height: 15%;
      width: 28%;
      border: 3px solid #000000;
    }
  
    #photo_bu1 {
      margin-left: 4%;
    }
  
    #photo_bu2 {
      margin-left: 35%;
    }
  
    #photo_bu3 {
      margin-left: 67%;
    }
  
    .soc_media {
      margin-top: 90%;
      width: 100%;
      min-height: 65px;
    }
  
    .our_media {
      font-size: 15px;
      left: 38%;
    }
  
    .here_you_are {
      left: 30%;
      font-size: 13px;
    }
  
    .inst, .vk, .tg {
      width: 6%;
      height: 30%;
    }
  
    .inst {
      left: 32%;
    }
  
    #inst {
      margin-top: 20%;
    }
  
    .tg {
      left: 49%;
    }
  
    #tg {
      margin-top: 15%;
    }
  
    .vk {
      left: 65%;
    }
  
    #vk {
      margin-top: 15%;
    }
  
  }
  
  @media (min-width: 382px) and (max-width: 390px) {
    .main_g {
      width: 100%;
      min-height: 350px;
    }
  
    .st1j2 {
      background: none;
      min-height: 0;
    }
  
    .st1j1 {
      min-height: 0;
      background: none;
    }
  
    .st3 {
      height: 0;
      background: none;
    }
    
    .st4 {
      height: 0;
      background: none;
    }
  
    .st3_3 {
      height: 0;
      background: none;
    }
  
    .st3_last {
      height: 0;
      background: none;
    }
    
    .st4_last {
      height: 0;
      background: none;
    }
  
    .navbar {
      width: 100%;
    }
  
    .navbar a {
      padding: 10px 13px;
      font-size: 15px;
    }
  
    .header {
      width: 90%;
    }
  
    .des_m {
      display: block;
      padding: 20px 0 0 4px;
      font-size: 16px;
      color: white;
    }
  
    .work {
      width: 70%;
      height: 40px;
      margin-top: 10%;
      margin-left: 15%;
      margin-bottom: 40px;
      font-size: 10px;
    }
  
    .work_text {
      font-size: 10px;
    }
  
    #main_photo {
      position: relative;
      top: 10px;
      left: 0.1px;
      width: 100%;
      height: 200px;
      z-index: 1;
    }
  
    .onphoto {
      top: 70px;
      left: 0;
      position: absolute;
      width: 50%;
      height: 200px;
      background: rgba(0, 0, 0, 0.45);
      z-index: 2;
    }
  
    .master_works {
      width: 100%;
      height: 50px;
    }
  
    .master_text {
      font-size: 20px;
      padding-top: 5%;
    }
  
    .gallery {
      width: 100%;
      height: 450px;
    }
  
    #f1 {
      margin-left: 5%;
      width: 25%;
      height: 100px;
    }
  
    .head {
      margin-top: 10px;
      margin-left: 80px;
      font-size: 15px;
      font-weight: 800;
    }
  
    .block_best {
      margin-top: 25px;
      width: 100%;
      min-height: 550px;
    }
  
    .text_best {
      padding-top: 1%;
      font-size: 40px;
      padding-left: 5%;
    }
  
    .text_h1, .text_h2, .text_h3 {
      padding-top: 5px;
      line-height: 25px;
      padding-left: 5%;
      font-size: 29px;
    }
  
    .text_p1, .text_p2, .text_p3 {
      width: 40%;
      font-size: 14px;
      line-height: 15px;
      padding-left: 5%;
    }
  
    #first_photo {
      padding-top: 100px;
      padding-left: 170px;
      height: 120px;
      width: 25%;
    }
  
    #third_photo {
      padding-top: 240px;
      padding-left: 170px;
      height: 120px;
      width: 25%;
    }
  
    #second_photo {
      padding-top: 115px;
      padding-left: 280px;
      height: 120px;
      width: 25%;
    }
  
    #fourth_photo {
      padding-top: 255px;
      padding-left: 280px;
      height: 120px;
      width: 25%;
    }
  
    .our_home {
      width: 100%;
      height: 550px;
    }
  
    .home_photo {
      width: 100%;
      height: 450px;
    }
  
    .text_about_home {
      padding-top: 12px;
      padding-left: 15px;
      font-size: 20px;
      width: 40%;
    }
  
    #hom1_photo, #hom2_photo, #hom3_photo {
      width: 40%;
      height: 30%;
      border: 3px solid #000000;
    }
  
    #hom1_photo {
      margin-left: 55%;
    }
  
    #hom2_photo {
      margin-left: 30%;
      margin-top: 35%;
    }
  
    #hom3_photo {
      margin-left: 15%;
      margin-top: 65%;
    }
  
    .biggest_works {
      width: 100%;
      height: 50px;
    }
  
    .biggest_text {
      left: 27%;
      top: -65%;
      font-size: 17px;
    }
  
    #bg_photo1, #bg_photo2, #bg_photo3 {
      width: 30%;
      height: 16%;
      border: 3px solid #000000;
    }
  
    #bg_photo1 {
      margin-top: 6%;
      margin-left: 8%;
    }
  
    #bg_photo2 {
      margin-top: 25%;
      margin-left: 25%;
    }
  
    #bg_photo3 {
      margin-top: 9%;
      margin-left: 48%;
    }
  
    #bg_photo4 {
      width: 35%;
      height: 17%;
      margin-top: 28%;
      border: 3px solid #000000;
    }
  
    .more_home_bu {
      width: 60%;
      margin-top: 57%;
      line-height: 20px;
      font-size: 20px;
    }
  
    #photo_bu1, #photo_bu2, #photo_bu3 {
      margin-top: 75%;
      height: 17%;
      width: 28%;
      border: 3px solid #000000;
    }
  
    #photo_bu1 {
      margin-left: 4%;
    }
  
    #photo_bu2 {
      margin-left: 35%;
    }
  
    #photo_bu3 {
      margin-left: 67%;
    }
  
    .soc_media {
      margin-top: 90%;
      width: 100%;
      min-height: 65px;
    }
  
    .our_media {
      font-size: 15px;
      left: 40%;
    }
  
    .here_you_are {
      left: 30%;
      font-size: 13px;
    }
  
    .inst, .vk, .tg {
      width: 6%;
      height: 30%;
    }
  
    .inst {
      left: 32%;
    }
  
    #inst {
      margin-top: 17%;
    }
  
    .tg {
      left: 49%;
    }
  
    #tg {
      margin-top: 12%;
    }
  
    .vk {
      left: 65%;
    }
  
    #vk {
      margin-top: 12%;
    }
  
  }
  
  // @media (min-width: 391px) and (max-width: 413px) {
  //   .main_g {
  //     width: 100%;
  //     min-height: 350px;
  //   }
  
  //   .st1j2 {
  //     background: none;
  //     min-height: 0;
  //   }
  
  //   .st1j1 {
  //     min-height: 0;
  //     background: none;
  //   }
  
  //   .st3 {
  //     height: 0;
  //     background: none;
  //   }
    
  //   .st4 {
  //     height: 0;
  //     background: none;
  //   }
  
  //   .st3_3 {
  //     height: 0;
  //     background: none;
  //   }
  
  //   .st3_last {
  //     height: 0;
  //     background: none;
  //   }
    
  //   .st4_last {
  //     height: 0;
  //     background: none;
  //   }
  
  //   .navbar {
  //     width: 100%;
  //   }
  
  //   .navbar a {
  //     padding: 10px 13px;
  //     font-size: 15px;
  //   }
  
  //   .header {
  //     width: 90%;
  //   }
  
  //   .des_m {
  //     display: block;
  //     padding: 20px 0 0 4px;
  //     font-size: 16px;
  //     color: white;
  //   }
  
  //   .work {
  //     width: 70%;
  //     height: 40px;
  //     margin-top: 10%;
  //     margin-left: 15%;
  //     margin-bottom: 40px;
  //     font-size: 10px;
  //   }
  
  //   .work_text {
  //     font-size: 10px;
  //   }
  
  //   #main_photo {
  //     position: relative;
  //     top: 10px;
  //     left: 0.1px;
  //     width: 100%;
  //     height: 200px;
  //     z-index: 1;
  //   }
  
  //   .onphoto {
  //     top: 70px;
  //     left: 0;
  //     position: absolute;
  //     width: 50%;
  //     height: 200px;
  //     background: rgba(0, 0, 0, 0.45);
  //     z-index: 2;
  //   }
  
  //   .master_works {
  //     width: 100%;
  //     height: 50px;
  //   }
  
  //   .master_text {
  //     font-size: 20px;
  //     padding-top: 3%;
  //   }
  
  //   .gallery {
  //     width: 100%;
  //     height: 450px;
  //   }
  
  //   #f1 {
  //     margin-left: 5%;
  //     width: 25%;
  //     height: 100px;
  //   }
  
  //   .head {
  //     margin-top: 10px;
  //     margin-left: 80px;
  //     font-size: 15px;
  //     font-weight: 800;
  //   }
  
  //   .block_best {
  //     margin-top: 25px;
  //     width: 100%;
  //     height: 600px;
  //   }
  
  //   .text_best {
  //     padding-top: 1%;
  //     font-size: 35px;
  //     padding-left: 5%;
  //   }
  
  //   .text_h1 {
  //     margin-top: 45px;
  //   }
  
  //   .text_h2, .text_h3 {
  //     margin-top: 15px;
  //     line-height: 25px;
  //     padding-left: 5%;
  //     font-size: 30px;
  //   }
  
  //   .text_p1, .text_p2, .text_p3 {
  //     width: 40%;
  //     margin-top: 10px;
  //     font-size: 15px;
  //     line-height: 13px;
  //     padding-left: 5%;
  //   }
  
  //   #first_photo {
  //     padding-top: 135px;
  //     padding-left: 185px;
  //     height: 100px;
  //     width: 25%;
  //   }
  
  //   #third_photo {
  //     padding-top: 250px;
  //     padding-left: 185px;
  //     height: 100px;
  //     width: 25%;
  //   }
  
  //   #second_photo {
  //     padding-top: 155px;
  //     padding-left: 295px;
  //     height: 100px;
  //     width: 25%;
  //   }
  
  //   #fourth_photo {
  //     padding-top: 270px;
  //     padding-left: 295px;
  //     height: 100px;
  //     width: 25%;
  //   }
  
  //   .our_home {
  //     width: 100%;
  //     height: 550px;
  //   }
  
  //   .home_photo {
  //     width: 100%;
  //     height: 450px;
  //   }
  
  //   .text_about_home {
  //     padding-top: 12px;
  //     padding-left: 15px;
  //     font-size: 20px;
  //     width: 40%;
  //   }
  
  //   #hom1_photo, #hom2_photo, #hom3_photo {
  //     width: 40%;
  //     height: 30%;
  //     border: 3px solid #000000;
  //   }
  
  //   #hom1_photo {
  //     margin-left: 55%;
  //   }
  
  //   #hom2_photo {
  //     margin-left: 30%;
  //     margin-top: 35%;
  //   }
  
  //   #hom3_photo {
  //     margin-left: 15%;
  //     margin-top: 65%;
  //   }
  
  //   .biggest_works {
  //     width: 100%;
  //     height: 50px;
  //   }
  
  //   .biggest_text {
  //     left: 27%;
  //     top: -65%;
  //     font-size: 17px;
  //   }
  
  //   #bg_photo1, #bg_photo2, #bg_photo3 {
  //     width: 30%;
  //     height: 16%;
  //     border: 3px solid #000000;
  //   }
  
  //   #bg_photo1 {
  //     margin-top: 6%;
  //     margin-left: 8%;
  //   }
  
  //   #bg_photo2 {
  //     margin-top: 25%;
  //     margin-left: 25%;
  //   }
  
  //   #bg_photo3 {
  //     margin-top: 9%;
  //     margin-left: 48%;
  //   }
  
  //   #bg_photo4 {
  //     width: 35%;
  //     height: 17%;
  //     margin-top: 28%;
  //     border: 3px solid #000000;
  //   }
  
  //   .more_home_bu {
  //     width: 60%;
  //     margin-top: 57%;
  //     line-height: 20px;
  //     font-size: 20px;
  //   }
  
  //   #photo_bu1, #photo_bu2, #photo_bu3 {
  //     margin-top: 75%;
  //     height: 15%;
  //     width: 28%;
  //     border: 3px solid #000000;
  //   }
  
  //   #photo_bu1 {
  //     margin-left: 4%;
  //   }
  
  //   #photo_bu2 {
  //     margin-left: 35%;
  //   }
  
  //   #photo_bu3 {
  //     margin-left: 67%;
  //   }
  
  //   .soc_media {
  //     margin-top: 90%;
  //     width: 100%;
  //     min-height: 65px;
  //   }
  
  //   .our_media {
  //     font-size: 15px;
  //     left: 40%;
  //   }
  
  //   .here_you_are {
  //     left: 30%;
  //     font-size: 13px;
  //   }
  
  //   .inst, .vk, .tg {
  //     width: 6%;
  //     height: 30%;
  //   }
  
  //   .inst {
  //     left: 32%;
  //   }
  
  //   #inst {
  //     margin-top: 17%;
  //   }
  
  //   .tg {
  //     left: 49%;
  //   }
  
  //   #tg {
  //     margin-top: 12%;
  //   }
  
  //   .vk {
  //     left: 65%;
  //   }
  
  //   #vk {
  //     margin-top: 12%;
  //   }
  // }
  
  @media (min-width: 390px) and (max-width: 413px) {
    .main_g {
      width: 100%;
      min-height: 350px;
    }
  
    .st1j2 {
      background: none;
      min-height: 0;
    }
  
    .st1j1 {
      min-height: 0;
      background: none;
    }
  
    .st3 {
      height: 0;
      background: none;
    }
    
    .st4 {
      height: 0;
      background: none;
    }
  
    .st3_3 {
      height: 0;
      background: none;
    }
  
    .st3_last {
      height: 0;
      background: none;
    }
    
    .st4_last {
      height: 0;
      background: none;
    }
  
    .navbar {
      width: 100%;
    }
  
    .navbar a {
      padding: 10px 13px;
      font-size: 15px;
    }
  
    .header {
      width: 90%;
    }
  
    .des_m {
      display: block;
      padding: 20px 0 0 4px;
      font-size: 16px;
      color: white;
    }
  
    .work {
      width: 70%;
      height: 40px;
      margin-top: 10%;
      margin-left: 15%;
      margin-bottom: 40px;
      font-size: 10px;
    }
  
    .work_text {
      font-size: 10px;
    }
  
    #main_photo {
      position: relative;
      top: 10px;
      left: 0.1px;
      width: 100%;
      height: 200px;
      z-index: 1;
    }
  
    .onphoto {
      top: 72px;
      left: 0;
      position: absolute;
      width: 50%;
      height: 200px;
      background: rgba(0, 0, 0, 0.45);
      z-index: 2;
    }
  
    .master_works {
      width: 100%;
      height: 50px;
    }
  
    .master_text {
      font-size: 20px;
      padding-top: 3%;
    }
  
    .gallery {
      width: 100%;
      height: 450px;
    }
  
    #f1 {
      margin-left: 5%;
      width: 25%;
      height: 100px;
    }
  
    .head {
      margin-top: 10px;
      margin-left: 80px;
      font-size: 15px;
      font-weight: 800;
    }
  
    .block_best {
      margin-top: 25px;
      width: 100%;
      min-height: 500px;
    }
  
    .text_best {
      padding-top: 1%;
      font-size: 40px;
      padding-left: 5%;
    }
  
    .text_h1, .text_h2, .text_h3 {
      padding-top: 5px;
      line-height: 25px;
      padding-left: 5%;
      font-size: 30px;
    }
  
    .text_p1, .text_p2, .text_p3 {
      width: 40%;
      font-size: 15px;
      line-height: 15px;
      padding-left: 5%;
    }
  
    #first_photo {
      padding-top: 95px;
      padding-left: 190px;
      height: 110px;
      width: 22%;
    }
  
    #third_photo {
      padding-top: 220px;
      padding-left: 190px;
      height: 110px;
      width: 22%;
    }
  
    #second_photo {
      padding-top: 125px;
      padding-left: 290px;
      height: 110px;
      width: 22%;
    }
  
    #fourth_photo {
      padding-top: 250px;
      padding-left: 290px;
      height: 110px;
      width: 22%;
    }
  
    .our_home {
      width: 100%;
      height: 550px;
    }
  
    .home_photo {
      width: 100%;
      height: 450px;
    }
  
    .text_about_home {
      padding-top: 12px;
      padding-left: 15px;
      font-size: 20px;
      width: 40%;
    }
  
    #hom1_photo, #hom2_photo, #hom3_photo {
      width: 40%;
      height: 30%;
      border: 3px solid #000000;
    }
  
    #hom1_photo {
      margin-left: 55%;
    }
  
    #hom2_photo {
      margin-left: 30%;
      margin-top: 35%;
    }
  
    #hom3_photo {
      margin-left: 15%;
      margin-top: 65%;
    }
  
    .biggest_works {
      width: 100%;
      height: 50px;
    }
  
    .biggest_text {
      left: 27%;
      top: -65%;
      font-size: 17px;
    }
  
    #bg_photo1, #bg_photo2, #bg_photo3 {
      width: 30%;
      height: 16%;
      border: 3px solid #000000;
    }
  
    #bg_photo1 {
      margin-top: 6%;
      margin-left: 8%;
    }
  
    #bg_photo2 {
      margin-top: 25%;
      margin-left: 25%;
    }
  
    #bg_photo3 {
      margin-top: 9%;
      margin-left: 48%;
    }
  
    #bg_photo4 {
      width: 35%;
      height: 17%;
      margin-top: 28%;
      border: 3px solid #000000;
    }
  
    .more_home_bu {
      width: 60%;
      margin-top: 57%;
      line-height: 20px;
      font-size: 20px;
    }
  
    #photo_bu1, #photo_bu2, #photo_bu3 {
      margin-top: 75%;
      height: 17%;
      width: 28%;
      border: 3px solid #000000;
    }
  
    #photo_bu1 {
      margin-left: 4%;
    }
  
    #photo_bu2 {
      margin-left: 35%;
    }
  
    #photo_bu3 {
      margin-left: 67%;
    }
  
    .soc_media {
      margin-top: 90%;
      width: 100%;
      min-height: 65px;
    }
  
    .our_media {
      font-size: 15px;
      left: 40%;
    }
  
    .here_you_are {
      left: 30%;
      font-size: 13px;
    }
  
    .inst, .vk, .tg {
      width: 6%;
      height: 30%;
    }
  
    .inst {
      left: 32%;
    }
  
    #inst {
      margin-top: 17%;
    }
  
    .tg {
      left: 49%;
    }
  
    #tg {
      margin-top: 12%;
    }
  
    .vk {
      left: 65%;
    }
  
    #vk {
      margin-top: 12%;
    }
  }
  
  @media (min-width: 413px) and (max-width: 425px) {
    .main_g {
      width: 100%;
      min-height: 350px;
    }
  
    .st1j2 {
      background: none;
      min-height: 0;
    }
  
    .st1j1 {
      min-height: 0;
      background: none;
    }
  
    .st3 {
      height: 0;
      background: none;
    }
    
    .st4 {
      height: 0;
      background: none;
    }
  
    .st3_3 {
      height: 0;
      background: none;
    }
  
    .st3_last {
      height: 0;
      background: none;
    }
    
    .st4_last {
      height: 0;
      background: none;
    }
  
    .navbar {
      width: 100%;
    }
  
    .navbar a {
      padding: 10px 13px;
      font-size: 15px;
    }
  
    .header {
      width: 90%;
    }
  
    .des_m {
      display: block;
      padding: 20px 0 0 4px;
      font-size: 16px;
      color: white;
    }
  
    .work {
      width: 70%;
      height: 40px;
      margin-top: 10%;
      margin-left: 15%;
      margin-bottom: 40px;
      font-size: 10px;
    }
  
    .work_text {
      font-size: 10px;
    }
  
    #main_photo {
      position: relative;
      top: 10px;
      left: 0.1px;
      width: 100%;
      height: 200px;
      z-index: 1;
    }
  
    .onphoto {
      top: 73px;
      left: 0;
      position: absolute;
      width: 50%;
      height: 200px;
      background: rgba(0, 0, 0, 0.45);
      z-index: 2;
    }
  
    .master_works {
      width: 100%;
      height: 50px;
    }
  
    .master_text {
      font-size: 20px;
      padding-top: 3%;
    }
  
    .gallery {
      width: 100%;
      height: 450px;
    }
  
    #f1 {
      margin-left: 5%;
      width: 25%;
      height: 100px;
    }
  
    .head {
      margin-top: 10px;
      margin-left: 80px;
      font-size: 15px;
      font-weight: 800;
    }
  
    .block_best {
      margin-top: 25px;
      width: 100%;
      min-height: 500px;
    }
  
    .text_best {
      padding-top: 1%;
      font-size: 40px;
      padding-left: 5%;
    }
  
    .text_h1, .text_h2, .text_h3 {
      padding-top: 5px;
      line-height: 25px;
      padding-left: 5%;
      font-size: 30px;
    }
  
    .text_p1, .text_p2, .text_p3 {
      width: 40%;
      font-size: 15px;
      line-height: 15px;
      padding-left: 5%;
    }
  
    #first_photo {
      padding-top: 95px;
      padding-left: 190px;
      height: 110px;
      width: 22%;
    }
  
    #third_photo {
      padding-top: 220px;
      padding-left: 190px;
      height: 110px;
      width: 22%;
    }
  
    #second_photo {
      padding-top: 125px;
      padding-left: 290px;
      height: 110px;
      width: 22%;
    }
  
    #fourth_photo {
      padding-top: 250px;
      padding-left: 290px;
      height: 110px;
      width: 22%;
    }
  
    .our_home {
      width: 100%;
      height: 550px;
    }
  
    .home_photo {
      width: 100%;
      height: 450px;
    }
  
    .text_about_home {
      padding-top: 12px;
      padding-left: 15px;
      font-size: 20px;
      width: 40%;
    }
  
    #hom1_photo, #hom2_photo, #hom3_photo {
      width: 40%;
      height: 30%;
      border: 3px solid #000000;
    }
  
    #hom1_photo {
      margin-left: 55%;
    }
  
    #hom2_photo {
      margin-left: 30%;
      margin-top: 35%;
    }
  
    #hom3_photo {
      margin-left: 15%;
      margin-top: 65%;
    }
  
    .biggest_works {
      width: 100%;
      height: 50px;
    }
  
    .biggest_text {
      left: 27%;
      top: -65%;
      font-size: 17px;
    }
  
    #bg_photo1, #bg_photo2, #bg_photo3 {
      width: 30%;
      height: 16%;
      border: 3px solid #000000;
    }
  
    #bg_photo1 {
      margin-top: 6%;
      margin-left: 8%;
    }
  
    #bg_photo2 {
      margin-top: 25%;
      margin-left: 25%;
    }
  
    #bg_photo3 {
      margin-top: 9%;
      margin-left: 48%;
    }
  
    #bg_photo4 {
      width: 35%;
      height: 17%;
      margin-top: 28%;
      border: 3px solid #000000;
    }
  
    .more_home_bu {
      width: 60%;
      margin-top: 57%;
      line-height: 20px;
      font-size: 20px;
    }
  
    #photo_bu1, #photo_bu2, #photo_bu3 {
      margin-top: 75%;
      height: 17%;
      width: 28%;
      border: 3px solid #000000;
    }
  
    #photo_bu1 {
      margin-left: 4%;
    }
  
    #photo_bu2 {
      margin-left: 35%;
    }
  
    #photo_bu3 {
      margin-left: 67%;
    }
  
    .soc_media {
      margin-top: 90%;
      width: 100%;
      min-height: 65px;
    }
  
    .our_media {
      font-size: 15px;
      left: 40%;
    }
  
    .here_you_are {
      left: 30%;
      font-size: 13px;
    }
  
    .inst, .vk, .tg {
      width: 6%;
      height: 30%;
    }
  
    .inst {
      left: 32%;
    }
  
    #inst {
      margin-top: 17%;
    }
  
    .tg {
      left: 49%;
    }
  
    #tg {
      margin-top: 12%;
    }
  
    .vk {
      left: 65%;
    }
  
    #vk {
      margin-top: 12%;
    }
  }
  
  @media (min-width: 425px) and (max-width: 440px) {
    .main_g {
      width: 100%;
      min-height: 350px;
    }
  
    .st1j2 {
      background: none;
      min-height: 0;
    }
  
    .st1j1 {
      min-height: 0;
      background: none;
    }
  
    .st3 {
      height: 0;
      background: none;
    }
    
    .st4 {
      height: 0;
      background: none;
    }
  
    .st3_3 {
      height: 0;
      background: none;
    }
  
    .st3_last {
      height: 0;
      background: none;
    }
    
    .st4_last {
      height: 0;
      background: none;
    }
  
    .navbar {
      width: 100%;
    }
  
    .navbar a {
      padding: 10px 13px;
      font-size: 15px;
    }
  
    .header {
      width: 90%;
    }
  
    .des_m {
      display: block;
      padding: 20px 0 0 4px;
      font-size: 16px;
      color: white;
    }
  
    .work {
      width: 70%;
      height: 40px;
      margin-top: 10%;
      margin-left: 15%;
      margin-bottom: 40px;
      font-size: 10px;
    }
  
    .work_text {
      font-size: 10px;
    }
  
    #main_photo {
      position: relative;
      top: 10px;
      left: 0.1px;
      width: 100%;
      height: 200px;
      z-index: 1;
    }
  
    .onphoto {
      top: 73px;
      left: 0;
      position: absolute;
      width: 50%;
      height: 200px;
      background: rgba(0, 0, 0, 0.45);
      z-index: 2;
    }
  
    .master_works {
      width: 100%;
      height: 50px;
    }
  
    .master_text {
      font-size: 20px;
      padding-top: 3%;
    }
  
    .gallery {
      width: 100%;
      height: 450px;
    }
  
    #f1 {
      margin-left: 5%;
      width: 25%;
      height: 100px;
    }
  
    .head {
      margin-top: 10px;
      margin-left: 80px;
      font-size: 15px;
      font-weight: 800;
    }
  
    .block_best {
      margin-top: 25px;
      width: 100%;
      min-height: 500px;
    }
  
    .text_best {
      padding-top: 1%;
      font-size: 40px;
      padding-left: 5%;
    }
  
    .text_h1, .text_h2, .text_h3 {
      padding-top: 5px;
      line-height: 25px;
      padding-left: 5%;
      font-size: 30px;
    }
  
    .text_p1, .text_p2, .text_p3 {
      width: 40%;
      font-size: 15px;
      line-height: 15px;
      padding-left: 5%;
    }
  
    #first_photo {
      padding-top: 95px;
      padding-left: 200px;
      height: 110px;
      width: 22%;
    }
  
    #third_photo {
      padding-top: 220px;
      padding-left: 200px;
      height: 110px;
      width: 22%;
    }
  
    #second_photo {
      padding-top: 125px;
      padding-left: 315px;
      height: 110px;
      width: 22%;
    }
  
    #fourth_photo {
      padding-top: 250px;
      padding-left: 315px;
      height: 110px;
      width: 22%;
    }
  
    .our_home {
      width: 100%;
      height: 550px;
    }
  
    .home_photo {
      width: 100%;
      height: 450px;
    }
  
    .text_about_home {
      padding-top: 12px;
      padding-left: 15px;
      font-size: 20px;
      width: 40%;
    }
  
    #hom1_photo, #hom2_photo, #hom3_photo {
      width: 40%;
      height: 30%;
      border: 3px solid #000000;
    }
  
    #hom1_photo {
      margin-left: 55%;
    }
  
    #hom2_photo {
      margin-left: 30%;
      margin-top: 30%;
    }
  
    #hom3_photo {
      margin-left: 15%;
      margin-top: 55%;
    }
  
    .biggest_works {
      width: 100%;
      height: 50px;
    }
  
    .biggest_text {
      left: 27%;
      top: -65%;
      font-size: 17px;
    }
  
    #bg_photo1, #bg_photo2, #bg_photo3 {
      width: 30%;
      height: 16%;
      border: 3px solid #000000;
    }
  
    #bg_photo1 {
      margin-top: 6%;
      margin-left: 8%;
    }
  
    #bg_photo2 {
      margin-top: 23%;
      margin-left: 25%;
    }
  
    #bg_photo3 {
      margin-top: 9%;
      margin-left: 48%;
    }
  
    #bg_photo4 {
      width: 35%;
      height: 17%;
      margin-top: 25%;
      border: 3px solid #000000;
    }
  
    .more_home_bu {
      width: 60%;
      margin-top: 57%;
      line-height: 20px;
      font-size: 20px;
    }
  
    #photo_bu1, #photo_bu2, #photo_bu3 {
      margin-top: 75%;
      height: 17%;
      width: 28%;
      border: 3px solid #000000;
    }
  
    #photo_bu1 {
      margin-left: 4%;
    }
  
    #photo_bu2 {
      margin-left: 35%;
    }
  
    #photo_bu3 {
      margin-left: 67%;
    }
  
    .soc_media {
      margin-top: 90%;
      width: 100%;
      min-height: 65px;
    }
  
    .our_media {
      font-size: 15px;
      left: 38%;
    }
  
    .here_you_are {
      left: 30%;
      font-size: 16px;
    }
  
    .inst, .vk, .tg {
      width: 6%;
      height: 30%;
    }
  
    .inst {
      left: 32%;
    }
  
    #inst {
      margin-top: 17%;
    }
  
    .tg {
      left: 49%;
    }
  
    #tg {
      margin-top: 12%;
    }
  
    .vk {
      left: 65%;
    }
  
    #vk {
      margin-top: 12%;
    }
  }
  
  @media (min-width: 440px) and (max-width: 455px) {
    .main_g {
      width: 100%;
      min-height: 350px;
    }
  
    .st1j2 {
      background: none;
      min-height: 0;
    }
  
    .st1j1 {
      min-height: 0;
      background: none;
    }
  
    .st3 {
      height: 0;
      background: none;
    }
    
    .st4 {
      height: 0;
      background: none;
    }
  
    .st3_3 {
      height: 0;
      background: none;
    }
  
    .st3_last {
      height: 0;
      background: none;
    }
    
    .st4_last {
      height: 0;
      background: none;
    }
  
    .navbar {
      width: 100%;
    }
  
    .navbar a {
      padding: 10px 13px;
      font-size: 15px;
    }
  
    .header {
      width: 90%;
    }
  
    .des_m {
      display: block;
      padding: 20px 0 0 4px;
      font-size: 16px;
      color: white;
    }
  
    .work {
      width: 70%;
      height: 40px;
      margin-top: 10%;
      margin-left: 15%;
      margin-bottom: 40px;
      font-size: 10px;
    }
  
    .work_text {
      font-size: 10px;
    }
  
    #main_photo {
      position: relative;
      top: 10px;
      left: 0.1px;
      width: 100%;
      height: 200px;
      z-index: 1;
    }
  
    .onphoto {
      top: 73.5px;
      left: 0;
      position: absolute;
      width: 50%;
      height: 200px;
      background: rgba(0, 0, 0, 0.45);
      z-index: 2;
    }
  
    .master_works {
      width: 100%;
      height: 50px;
    }
  
    .master_text {
      font-size: 20px;
      padding-top: 3%;
    }
  
    .gallery {
      width: 100%;
      height: 450px;
    }
  
    #f1 {
      margin-left: 5%;
      width: 25%;
      height: 100px;
    }
  
    .head {
      margin-top: 10px;
      margin-left: 80px;
      font-size: 15px;
      font-weight: 800;
    }
  
    .block_best {
      margin-top: 25px;
      width: 100%;
      min-height: 500px;
    }
  
    .text_best {
      padding-top: 1%;
      font-size: 40px;
      padding-left: 5%;
    }
  
    .text_h1, .text_h2, .text_h3 {
      padding-top: 5px;
      line-height: 25px;
      padding-left: 5%;
      font-size: 30px;
    }
  
    .text_p1, .text_p2, .text_p3 {
      width: 40%;
      font-size: 15px;
      line-height: 15px;
      padding-left: 5%;
    }
  
    #first_photo {
      padding-top: 95px;
      padding-left: 200px;
      height: 110px;
      width: 22%;
    }
  
    #third_photo {
      padding-top: 220px;
      padding-left: 200px;
      height: 110px;
      width: 22%;
    }
  
    #second_photo {
      padding-top: 125px;
      padding-left: 315px;
      height: 110px;
      width: 22%;
    }
  
    #fourth_photo {
      padding-top: 250px;
      padding-left: 315px;
      height: 110px;
      width: 22%;
    }
  
    .our_home {
      width: 100%;
      height: 550px;
    }
  
    .home_photo {
      width: 100%;
      height: 450px;
    }
  
    .text_about_home {
      padding-top: 12px;
      padding-left: 15px;
      font-size: 20px;
      width: 40%;
    }
  
    #hom1_photo, #hom2_photo, #hom3_photo {
      width: 40%;
      height: 30%;
      border: 3px solid #000000;
    }
  
    #hom1_photo {
      margin-left: 55%;
    }
  
    #hom2_photo {
      margin-left: 30%;
      margin-top: 30%;
    }
  
    #hom3_photo {
      margin-left: 15%;
      margin-top: 55%;
    }
  
    .biggest_works {
      width: 100%;
      height: 50px;
    }
  
    .biggest_text {
      left: 27%;
      top: -65%;
      font-size: 17px;
    }
  
    #bg_photo1, #bg_photo2, #bg_photo3 {
      width: 30%;
      height: 16%;
      border: 3px solid #000000;
    }
  
    #bg_photo1 {
      margin-top: 6%;
      margin-left: 8%;
    }
  
    #bg_photo2 {
      margin-top: 23%;
      margin-left: 25%;
    }
  
    #bg_photo3 {
      margin-top: 9%;
      margin-left: 48%;
    }
  
    #bg_photo4 {
      width: 35%;
      height: 17%;
      margin-top: 25%;
      border: 3px solid #000000;
    }
  
    .more_home_bu {
      width: 60%;
      margin-top: 57%;
      line-height: 20px;
      font-size: 20px;
    }
  
    #photo_bu1, #photo_bu2, #photo_bu3 {
      margin-top: 75%;
      height: 17%;
      width: 28%;
      border: 3px solid #000000;
    }
  
    #photo_bu1 {
      margin-left: 4%;
    }
  
    #photo_bu2 {
      margin-left: 35%;
    }
  
    #photo_bu3 {
      margin-left: 67%;
    }
  
    .soc_media {
      margin-top: 90%;
      width: 100%;
      min-height: 65px;
    }
  
    .our_media {
      font-size: 15px;
      left: 38%;
    }
  
    .here_you_are {
      left: 30%;
      font-size: 16px;
    }
  
    .inst, .vk, .tg {
      width: 6%;
      height: 30%;
    }
  
    .inst {
      left: 32%;
    }
  
    #inst {
      margin-top: 17%;
    }
  
    .tg {
      left: 49%;
    }
  
    #tg {
      margin-top: 12%;
    }
  
    .vk {
      left: 65%;
    }
  
    #vk {
      margin-top: 12%;
    }
  }
  
  @media (min-width: 455px) and (max-width: 1200px) {
    .des_m {
      font-size: 45px;
    }
  
    .master_works {
      margin-top: 30px;
    }
  
    .st1j2 {
    min-height: 700px;
    background: url(/strih/strih/2.png) -30% 130% no-repeat;
    background-size: 50% 60%;
    }
  
   .st1j1 {
    min-height: 700px;
    background: url(/strih/strih/1.png) 105% 100% no-repeat;
    background-size: 15% 50%;
    }
  
    .navbar a {
      font-size: 30px;
    }
  
    .work {
      width: 30%;
    }
  
    .work a {
      font-size: 40px;
    }
  
    .text_best {
      font-size: 60px
    }
  
    .text_h1, .text_h2, .text_h3 {
      font-size: 50px
    }
  
    .text_p1, .text_p2, .text_p3 {
      font-size: 30px;
      line-height: 35px;
    }
  }
  