div {
	visibility: visible;
	width: 40%;
	text-align: center;
}

.menu {
	display: none;
	border: 2px solid black;
}

video {
	width: 90%;
}

@media (max-width: 560px) {
	.menu {
		display: block;
	}

	p {
		display: none;
	}

	div:hover > p {
		display: block;
	}
}